@model Animal_Control.Models.AC_Visita_Veterinaria

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_LayoutTablas.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>

        <h2>Agregar Visita Veterinaria</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ID_Animal, "Animal", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ID_Animal", ViewBag.animal as SelectList)
                        @Html.ValidationMessageFor(model => model.ID_Animal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ID_Usuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ID_Usuario", ViewBag.usuario as SelectList)
                        @Html.ValidationMessageFor(model => model.ID_Usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Agregar" class="btn btn-default" />
                        <a href="@Url.Action("Index", "VisitaVeterinario")" class="btn btn-default"> Cancelar </a>
                    </div>
                </div>
            </div>
        }

    </section>
</section>