@model Animal_Control.Models.AC_Visita_Veterinaria

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutTablas.cshtml";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AC_Visita_Veterinaria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AC_Animal.Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AC_Animal.Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AC_Usuario.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AC_Usuario.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
