@model Animal_Control.Models.AC_Visita_Veterinaria

@{
    ViewBag.Title = "Eliminar Visita";
    Layout = "~/Views/Shared/_LayoutTablas.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div>
                <h3>Eliminar Visita Veterinario</h3>
                <hr />
                <table cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Animal</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.VV_ID</td>
                            <td>@Model.ID_Animal  </td>
                            <td>@Model.ID_Usuario  </td>
                            <td>@Model.Fecha </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar Visita" class="btn btn-default" />
                    <a href="@Url.Action("Index", "VisitaVeterinario")" class="btn btn-default"> Cancelar </a>
                </div>

            </div>
        }
    </section>
</section>

