@model Animal_Control.Models.AC_Articulo

@{
    ViewBag.Title = "Agregar Articulo";
    Layout = "~/Views/Shared/_LayoutTablas.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Agregar Nuevo Articulo</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Agregar" class="btn btn-default" />
                        <a href="@Url.Action("Index", "Articulo")" class="btn btn-default"> Cancelar </a>
                    </div>
                </div>
            </div>
        }
    </section>
</section>

