@model Animal_Control.Models.AC_Liberacion

@{
    ViewBag.Title = "Reporte Liberaciones";
    Layout = "~/Views/Shared/_LayoutTablas.cshtml";
}


<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>

        <h2>Reporte de Liberaciones</h2>z

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ver Reporte" class="btn btn-default" href="@Url.Action("PDFLiberacion", "Reportes")" />
                    </div>
                </div>
            </div>
        }

        <section id="main-content" class=" ">
            <section class="wrapper main-wrapper" style=''>


